SY_Camel2WS/FSW_SalaryUpdate/src/main/resources/wsdl/SalaryIncrement.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sample.org/SalaryIncrement/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SalaryIncrement" targetNamespace="http://sample.org/SalaryIncrement/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://sample.org/SalaryIncrement/">
      <xsd:element name="IncrementSalary">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="insalary" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IncrementSalaryResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="updatedsalary" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IncrementSalaryRequest">
    <wsdl:part element="tns:IncrementSalary" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="IncrementSalaryResponse">
    <wsdl:part element="tns:IncrementSalaryResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="SalaryIncrementPortType">
    <wsdl:operation name="IncrementSalary">
      <wsdl:input message="tns:IncrementSalaryRequest"/>
      <wsdl:output message="tns:IncrementSalaryResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SalaryIncrementBinding" type="tns:SalaryIncrementPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="IncrementSalary">
      <soap:operation soapAction="http://sample.org/SalaryIncrement/IncrementSalary"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SalaryIncrement">
    <wsdl:port binding="tns:SalaryIncrementBinding" name="SalaryIncrementPort">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
